@font-face {
  font-family: 'Morbodoni';
  src: url(fonts/morbodoni/Morbodoni-Trial.ttf) format("truetype");
}
@font-face {
  font-family: 'Pistilli-Roman';
  src: url(fonts/Pistilli-Roman.otf) format("opentype");
}
@font-face {
  font-family: 'Tiffany Heavy Bold';
  src: url(fonts/TiffanyHeavyBold.ttf) format("truetype");
}
@font-face {
  font-family: 'Horsham Bold';
  src: url(fonts/Horsham-Bold.ttf) format("truetype");
}
@font-face {
  font-family: 'Yeseva One';
  src: url(fonts/yeseva_one/YesevaOne-Regular.ttf) format("truetype");
}

body{
	margin-top: 10%;
}

#letters{
	float: left;
	width: 61.7%;
	margin: 0;
	/*margin-left: 25px;*/  /*bunched version*/
	/*margin-left: 2px;*/  /*clean version*/
	z-index: 1;
}

/*.pushOut{
	width: 65%;
}*/

#key{
	font-size: 13em;
	margin: 0;
	padding: 0;
	word-wrap: break-word;
	/*line-height: 150px;*/ /*bunched version*/
	font-family: Pistilli-Roman;
}

a {
	text-decoration: none;
	color: inherit;
}

#letters span {
	/*margin: -45px; */  /*bunched version*/
	/*margin: -20px;*/     /*clean version*/
}

.hoverRed:hover{
	color: #ff4545;
}

.hoverGrey:hover{
	color: grey;
}

.verbal{
	/*width: 37%;*/
	height: 35%;
	/*float: left;*/
	margin-left: 61.7%;
	margin-top: 3%;
	margin-right: 5px;
	z-index: 99;
	position: fixed;
	/*border: 1px solid black;*/
}

.catTitle {
	text-align: center;
	font-family: 'Open-Sans', sans-serif;
	font-size: 3em;
	letter-spacing: 6px;
	margin: 15px;
}

.subTitle{
	text-align: center;
	font-family: 'Open-Sans', sans-serif;
	font-size: 2em;
	letter-spacing: 2px;
	margin: 15px;
}

.smallBox{
	width: 30%;
	margin-left: 50px;
}

/*//////.................All Pages...................//////*/

.header{
	width: 60%;
	margin: -75px auto 50px;	
	font-family: 'Josefin Sans';
	color: grey;	
	font-size: 1.3em;
	text-align: center;

	/*width: 60%;
	margin: -75px auto 50px;	
	font-family: 'work sans';
	font-weight: 200;
	color: black;	
	font-size: 1.1em;
	text-align: center;*/
}

.titleHr{
	width: 20%;
	float: left;
	margin: 0 3%;	
}

.descHr{
	width: 65%;
	float: left;
	margin: 0 3%;	
}

/*//////.................Design...................//////*/

.projectTitle{
	clear: both;
	width: 20%;	
	float: left;
	margin: 5px 3.1%;
	font-family: '';
	font-size: 1.2em;
	font-weight: 500;
	letter-spacing: 1px;
}

.projDesc{
	float: left;
	margin: 10px 3.1% 30px;
	color: grey;
	font-family: 'Raleway';
	font-size: .9em;
	font-weight: 300;
}

.projSamples{
	clear: both;
}

.firstItem {
	width: 250px;
	clear:both;
	float:left;
	margin: 10px 3.1%;	
}

#design1{
	margin-top: 100px;
}

#design1 img {
	width: 250px;
	float: left;
	margin: 10px 3.1%;
}

.scroll{
	float: left;
	overflow: auto;
	overflow-x: hidden; 
	max-width: 250px;	
	max-height: 135px;
	margin: 10px 2%;

}

::-webkit-scrollbar {
    width: 0px;  /* remove scrollbar space */
    background: transparent;
}


