/*//////.................All Pages...................//////*/

.header{
	width: 60%;
	margin: -75px auto 50px;	
	font-family: 'Josefin Sans';
	color: grey;	
	font-size: 1.3em;
	text-align: center;
}

.titleHr{
	width: 100%;
	float: left;
	margin: 0 3%;	
}


/*//////.................Design...................//////*/

.projectTitle{
	clear: both;
	width: 15vw;	
	float: left;
	margin: 2vh 0 0 4vw;
	font-family: 'Work sans';
	font-size: 1.2em;
	font-weight: 500;
	letter-spacing: 1px;
}

.projDesc{
	float: left;
	margin: 2.5vh 0 6vh;
	color: grey;
	font-family: 'Raleway';
	font-size: .9em;
	font-weight: 300;
}

.projSamples{
	clear: both;
}

.firstItem {
	width: 15vw;
	height: 30vh;
	clear:both;
	float:left;
	margin: 0;
	font-family: 'Alegreya sans';
	font-size: 25px;
	text-align: center;
}

.firstItem p {
	margin: 15vh 0 0 0;
}

.followItem {
	margin: 0 2vw;
}

#jrsVid {
	width: 25vw;
	float:left;	
}

#design1{
	margin-top: 15vh;
}

#design1 img {
	width: 25vw;
	float: left;
}

.scroll{
	float: left;
	overflow: auto;
	overflow-x: hidden; 
	max-width: 25vw;	
	max-height: 25.5vh;

}

::-webkit-scrollbar {
    width: 0px;  /* remove scrollbar space */
    background: transparent;
}
